* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

header {
    padding: 15px;
}

header img {
    display: block;
    height: 50px;
    margin: auto;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.toDo {
    display: flex;
}

.toDo input {
    flex-grow: 1;
    height: 35px;
    border: 0;
    border-bottom: 1px solid gray;
    outline: none;
    margin-right: 15px;
}

.button {
    background-color: #00e165;
    border: none;
    padding: 10px;
    border-radius: 100px;
}

.button:hover,
.button:focus {
    background-color: #00b853;
}

.todo-section {
    margin: 40px 0;
}

.todo-list {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #e4e4e4;
    box-shadow: 0px 15px 15px -12px gray;
}

.todo {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}

.delete {
    cursor: pointer;
}

.todo-list li:last-of-type {
    border-bottom: none;
}

.todo .text {
    flex-grow: 1;
    padding: 0 30px;
    position: relative;
    cursor: default;
}

.todo .text::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    transition: background .2s;
    cursor: pointer;
}

.todo .text.completed {
    text-decoration: line-through;
}

.todo .text.completed::before {
    background-color: chartreuse;
}

.todo .delete:hover {
    color: red;
}

.todo-filter {
    color: #00e165;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.wave {
    position: absolute;
    bottom: 0;
}

.wave.first {
    bottom: .2rem;
}